<div class="bar clearfix">
    <a href="/" class="home pull-left">
        <img src="/images/home.jfif" alt="图片">
    </a>
    <div class="pull-right">
        <span><%= username %></span>&nbsp;&nbsp;
        <a href="/write.html">写文章</a>&nbsp;&nbsp;
        <a href="/users/logout">退出</a>&nbsp;&nbsp;      
    </div>
</div>