<!DOCTYPE html>
<html>
  <head>
    <title>详情页</title>
    <%- include head %>
  </head>
  <body>
    <article>
      <h3>
        <%= detail.title %>
      </h3>
      <p>作者：<%= detail.author %></p>
      <p><%- detail.content %></p>
    </article>
  </body>
</html>
